
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>网易考拉海购购物交流-网易考拉店主-网易考拉海购真假-网易考拉海购怎么样-网易考拉合伙人</title>
    <link href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
        body {
            margin: 0 auto;
        }

        a, :visited, ins {
            text-decoration: none;
        }

        ul, menu, dir {
            display: block;
            list-style-type: disc;
            -webkit-margin-before: 1em;
            -webkit-margin-after: 1em;
            -webkit-margin-start: 0px;
            -webkit-margin-end: 0px;
            -webkit-padding-start: 40px;
        }

        #header ul {
            padding: 0;
            margin: 0;
        }

        #header {
            width: 1400px;
            margin-top: 10px;
        }

            #header ul li {
                display: inline-block;
                padding: 0;
                margin: 0;
                padding-right: 40px;
                font-size: 26px;
                font-weight: 900;
            }

                #header ul li a {
                    color: black;
                }

                    #header ul li a:hover {
                        text-decoration: none;
                        color: #337ab7;
                    }

        div {
            /*border: 1px solid red;*/
        }
        /*以下是对bootstrap中tooltip的默认属性进行重新设定*/
        .tooltip-inner {
            width: 150px;
            color: #113f6c;
            font-size: 1.2em;
            padding: 4px;
            background-color: #fff;
        }

        .tooltip.bottom .tooltip-arrow {
            border-bottom-color: #fff;
        }
    </style>
</head>
<body>
    <div>
        <div class="container" id="header">
            <div class="row">
                <div class="col-md-5">
                    <img src="@Html.ImageInclude("img/homeIndex/logo.jpg")" alt="网易考拉海购购物交流网" />
                </div>
                <div class="col-md-7">
                    <ul>
                        <li><a>首页</a></li>
                        <li><a>最新消息</a></li>
                        <li><a href="http://www.kaola.com">考拉海购官网</a></li>
                        <li><a data-toggle="popover">考拉海购微信交流群</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <script src="//cdn.bootcss.com/jquery/3.0.0/jquery.js"></script>
    <script src="https://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $(function () {
                $('[data-toggle="popover"]').popover({
                    html: true,
                    title: "网易考拉海购微信交流群",
                    placement: 'bottom',
                    content: function () {
                        return '<div class="hover-hovercard"><img src="@Html.ImageInclude("img/homeIndex/interflow.png")" alt="考拉海购微信交流群"></div>';
                    }
                }).on("mouseenter", function () {
                    var _this = this;
                    $(this).popover("show");
                    $(this).siblings(".popover").on("mouseleave", function () {
                        $(_this).popover('hide');
                    });
                }).on("mouseleave", function () {
                    var _this = this;
                    setTimeout(function () {
                        if (!$(".popover:hover").length) {
                            $(_this).popover("hide")
                        }
                    }, 100);
                });
            });
        });
    </script>
</body>
</html>
