@{
    ViewBag.Title = "网易考拉海购购物交流";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section css{
    <style type="text/css">
        #main div {
            /*border: 1px solid red;*/
        }

        #main .container {
            margin: 0 auto;
            padding: 0;
        }

        #main .left {
        }

            #main .left img {
                width: 300px;
                height: 150px;
            }

            #main .left .img {
                margin: 0 auto;
                padding: 0;
            }

        #main .right {
            border-left: 1px solid #e9e9e9;
        }

            #main .right .container {
                padding-left: 15px;
            }

        #main .new {
            margin-top: 5px;
        }

        #main .blogArticle {
        }
        #main .blogArticle .article{
            padding-left:20px;
        }
         #main .blogArticle .article .title{
           font-weight:700;
        }
    </style>
}

@section js{

}
<div class="container">
    <div class="row">
        <div class="col-md-9 left">
            <div class="container">
                @*<div class="row blogArticle">
                    <div class="col-md-3 img">
                        <h3 class="title">网易考拉海购介绍</h3>
                        <iframe height=550 width=850 src='http://player.youku.com/embed/XMjUwMjIyODk3Mg==' frameborder=0 'allowfullscreen'></iframe>
                    </div>
                </div>*@
                <div class="row blogArticle">
                    <div class="col-md-3 img">
                        <img src="@Html.ImageInclude("img/new/1new.png")" />
                    </div>
                    <div class="col-md-9 article">
                        <h3 class="title">网易考拉海购是正品吗?</h3>
                        <span>fsdsfd</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
        <div class="col-md-3 right">
            <div class="container">
                <div class="row">
                    <h1>最新消息</h1>
                </div>
                <div class="row new">
                    <h4>
                        <a target="_blank" href="http://news.21cn.com/caiji/roll1/a/2017/0223/20/32011663.shtml">从不烧钱做营销的网易考拉 是如何红海突围做到行业老大的？</a>
                    </h4>
                </div>
                <div class="row new">
                    <h4>
                        <a target="_blank" href="http://news.21cn.com/caiji/roll1/a/2017/0223/20/32011663.shtml">从不烧钱做营销的网易考拉 是如何红海突围做到行业老大的？</a>
                    </h4>
                </div><div class="row new">
                    <h4>
                        <a target="_blank" href="http://news.21cn.com/caiji/roll1/a/2017/0223/20/32011663.shtml">从不烧钱做营销的网易考拉 是如何红海突围做到行业老大的？</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
</div>
